@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500&display=swap');
/* Slider css styles start */
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
@import url('./slider.css');
/* Slider css styles end */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.activeAnchor {
  background-color: #337202 !important;
}

.container-base {
  @apply max-w-screen-2xl mx-auto overflow-y-hidden overflow-x-hidden;
}

.slick-dots li {
  width: auto;
  height: auto;
  margin: 0 !important;
}

li.slick-active div {
  background-color: black !important;
}

.cartinka span:first-child {
  height: 100% !important;
  width: 100% !important;
}

.card_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 4.5em;
  /* number of lines to show */
}

.news_text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* number of lines to show */
}

.sale:hover .procent {
  color: rgba(231, 235, 234, 0.2);
}

.sale:hover .title_sale {
  color: white;
}

.sale:hover .sale_btn path {
  fill: white;
}

.number_shopB {
  box-shadow: 0px 2px 4px rgba(51, 114, 2, 0.3);
}

.card_hov:hover .content_card {
  opacity: 0.7;
}

