@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Montserrat:wght@400;500;600;700&family=Noto+Sans:wght@300;400;500&display=swap');
/* Slider css styles start */
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css');
@import url('./slider.css');
/* Slider css styles end */
@tailwind base;
@tailwind components;
@tailwind utilities;

.container-base {

	@apply max-w-screen-2xl mx-auto overflow-y-hidden overflow-x-hidden;
}

.slick-dots li {
	width: auto;
	height: auto;
	margin: 0 !important;
}

li.slick-active div {
	background-color: black !important;
}

.cartinka span:first-child {
	height: 100% !important;
	width: 100% !important;
}

/* .slider_instr .slick-slide {
  margin-left: 3px;
  margin-right: 3px;
} */