.stories {
	border: 2px solid skyblue;
	border-image: linear-gradient(to right top,
			rgba(51, 114, 2, 1),
			rgba(233, 251, 240, 1));
	border-image-slice: 1;
	min-width: 151px;
	min-height: 146px;
}

.moreF {
	left: 48.5%;
	opacity: 0.9;
	top: 35%;
	transition: 0.3s ease all;
	z-index: 20;
}

.moreP {
	left: 110px;
	opacity: 0.9;
	top: 280px;
	z-index: 30;
	transition: 0.3s ease all;
}

.moreP:hover .info {
	transition: 0.3s ease all;
	display: block;
	background-color: #fff;
	z-index: 100;
}

.moreF:hover .info {
	transition: 0.3s ease all;
	display: flex;
	background-color: #fff;
	z-index: 100;
}

@media (max-width: 530px) {
	.text {
		transform: translateY(-68px);
	}

	.catal {
		height: 75px !important;
	}

	.snap {
		height: 210px;
		width: 210px;
		margin-left: -4px;
	}
}

.support {
	width: 1200px;
}

.info {
	box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
}

.next {
	z-index: 1;
	bottom: 10px;
	border-radius: 20px;
}

.prev {
	z-index: 1;
	bottom: 10px;
	border-radius: 20px;
}

.prev svg {
	transform: rotate(180deg);
}

/* special offers */
.container__special {
	max-width: 1460px;
	margin: 0 auto;
}

.special__next {
	right: -20px;
	z-index: 1;
	bottom: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
}

.special__prev {
	left: -20px;
	z-index: 1;
	bottom: 50%;
	transform: translateY(-50%) rotate(180deg);
	border-radius: 20px;
}

.prev_rotate {
	transform: rotate(180deg);
}

.news {
	bottom: 230px;
	right: 445px;
}

.see {
	bottom: 140px;
	right: 515px;
}

/* TEMP STYLE */
.itemTr {
	margin-left: -20px;
}

.products-item {
	width: 228px;
}

.promo {
	height: 727px;
}

.timer {
	background: linear-gradient(270.09deg,
			rgba(255, 255, 255, 0.2) -1.39%,
			rgba(255, 255, 255, 0) 99.9%);
}

.timer__wrapper {
	transform: translateX(-320px);
}

.ability {
	transform: translateX(-50%);
}

.nextPartner {
	bottom: 6px;
	z-index: 20;
	border-radius: 20px;
}

.prevPartner {
	bottom: -15px;
	z-index: 20;
	border-radius: 20px;
	transform: translateY(-50%) rotate(180deg);
}

.nextNews {
	right: -7px;
	transform: translateY(-50%);
	top: 66%;
	border-radius: 20px;
}

.prevNews {
	left: -7px;
	transform: translateY(-50%) rotate(180deg);
	top: 66%;
	z-index: 20;
	border-radius: 20px;
}

.act_slider .slick-slide div:first-child {
	display: flex;
}

@media (max-width: 1536px) {
	.special__next {
		right: 10px !important;
	}

	.special__prev {
		left: 10px !important;
	}
}

@media (max-width: 1470px) {
	.promo {
		height: 550px !important;
	}
}

@media (min-width: 1450px) {
	.funds .slick-list .slick-track .slick-cloned div .pb-20 .flex {
		opacity: 0.5;
	}

	.funds .slick-list .slick-track .slick-slide div .pb-20 .flex {
		opacity: 0.5;
	}

	.funds .slick-list .slick-track .slick-current div .pb-20 .flex {
		margin-left: 50px;
		margin-right: 50px;
		opacity: 1;
	}
}

@media (max-width: 1000px) {
	.special .slick-list .slick-track .slick-slide div {
		border-bottom: none !important;
	}
}

@media (max-width: 950px) {
	.promo {
		background-image: url('../images/templates/bgL.jpg');
	}

	.cat {
		transform: translateY(16px);
	}
}

.actionsfl .slick-list .slick-track .slick-slide div {
	display: flex;
	justify-content: center;
}

@media (max-width: 320px) {
	.catb {
		transform: translateY(4px);
	}

	.seesh {
		transform: translateX(-50%);
	}

	.funds {
		padding-bottom: 50px;
	}

	.text {
		transform: translateY(-3px);
	}

	.catal {
		height: 52px !important;
		transform: translate(-2px, 13px);
		width: 144px !important;
	}

	.catal:hover {
		scale: 1 !important;
	}

	.snap {
		height: 55px !important;
		width: 144px !important;
	}
}

.itemSl {
	width: 240px;
}

.sunl {
	width: 607px;
}

.hiddenCustom {
	z-index: -200 !important;
	opacity: 0;
}

.activeArrow {
	transform: rotate(180deg);
}

.itemDrop {
	width: 1440px;
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 1536px) {
	.drop {
		left: -240%;
	}
}

@media (max-width: 1450px) {
	.drop.active {
		width: 1350%;
	}

	.itemDrop {
		width: 100%;
	}

	.hiddenCustom {
		display: none !important;
	}
}

@media (max-width: 1450px) {
	.drop {
		left: -200%;
	}
}

@media (max-width: 1300px) {
	.text-md {
		font-size: 10px !important;
	}
}

@media(max-width: 1130px) {
	.drop {
		left: -210%;
	}


}

@media (max-width: 1100px) {
	.drop.active {
		width: 1250%;
	}

	.drop {
		left: -240%;
	}
}

@media (max-width: 1050px) {
	.tracking-widest.text-md {
		font-size: 8px !important;
	}

	.drop.active {
		width: 1300%;
	}
}