.moreF {
	left: 460px;
	opacity: .9;
	top: 350px;
	transition: .3s ease all;
	z-index: 20;
}

.moreP {
	left: 110px;
	opacity: .9;
	top: 280px;
	z-index: 30;
	transition: .3s ease all;
}



.moreP:hover .info {
	transition: .3s ease all;
	display: block;
	background-color: #fff;
	z-index: 100;
}

.moreF:hover .info {
	transition: .3s ease all;
	display: block;
	background-color: #fff;
	z-index: 100;
}

@media (max-width: 530px) {
	.text {
		transform: translateY(-68px);
	}

	.catal {
		height: 75px !important;
	}


	.snap {
		height: 210px;
		width: 210px;
		margin-left: -4px;
	}
}


.moreTr {
	left: 550px;
	opacity: .9;
	top: 480px;
	transition: .3s ease all;
}




.img {
	background-image: url('../images/templates/discbg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

.support {
	width: 1200px;
}

.moreT {
	opacity: .9;
	left: 370px;
	top: 440px;
	transition: .3s ease all;
}

.info {
	box-shadow: 0px 0px 20px rgba(132, 132, 132, 0.2);
}


.next {
	right: 45.6%;
	z-index: 1;
	bottom: 22px;
	border-radius: 20px;
}

.prev {
	left: 46%;
	z-index: 1;
	bottom: 22px;
	border-radius: 20px;
}

.prev svg {
	transform: rotate(180deg);
}

/* special offers */
.container__special {
	max-width: 1460px;
	margin: 0 auto;
}

.item {
	max-width: 252px;
	padding-right: 20px;
}

.special .slick-list .slick-track .slick-slide div {
	border-bottom: 2px solid rgb(128, 128, 128);
}

.special__next {
	right: -20px;
	z-index: 1;
	bottom: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
}

.special__prev {
	left: -20px;
	z-index: 1;
	bottom: 50%;
	transform: translateY(-50%) rotate(180deg);
	border-radius: 20px;
}

.news {
	bottom: 230px;
	right: 445px;
}

.see {
	bottom: 140px;
	right: 515px;
}

/* TEMP STYLE */
.itemTr {
	margin-left: -20px;
}

.products-item {
	width: 228px;

}

.promo {
	height: 727px;
}

.timer {
	background: linear-gradient(270.09deg, rgba(255, 255, 255, 0.2) -1.39%, rgba(255, 255, 255, 0) 99.9%);

}

.timer__wrapper {
	transform: translateX(-320px);
}

.ability {
	transform: translateX(-50%);
}

.nextPartner {
	right: -20px;
	transform: translateY(-50%);
	top: 50%;
	border-radius: 20px;
}

.prevPartner {
	left: -20px;
	transform: translateY(-50%) rotate(180deg);
	top: 50%;
	z-index: 20;
	border-radius: 20px;
}

.container__special .slick-slider .slick-dots {
	width: 10% !important;
	bottom: -35px !important;
}

@media (max-width: 1536px) {
	.moreTr {
		left: 460px;
	}

	.special__next {
		right: 10px !important;
	}

	.special__prev {
		left: 10px !important;
	}

	.prevPartner {
		left: 15px !important;

	}

	.nextPartner {
		right: 15px !important;
	}
}

@media (max-width: 1470px) {
	.moreTr {
		left: 410px;
	}

	.moreF {
		left: 340px !important;
	}

	.slick-dots {
		width: 12% !important;
	}

	.prev {
		left: 44% !important;
	}

	.next {
		right: 43.6% !important;
	}

	.promo {
		height: 550px !important;
	}
}

@media (max-width: 1300px) {
	.moreF {
		left: 300px !important;
	}

	.moreTr {
		left: 350px !important;
	}
}

@media(max-width: 1100px) {
	.moreF {
		left: 250px !important;
	}

	.moreTr {
		left: 300px !important;
	}


}

@media (min-width: 1450px) {
	.funds .slick-list .slick-track .slick-cloned div .pb-20 .flex {

		opacity: .5;
	}

	.funds .slick-list .slick-track .slick-slide div .pb-20 .flex {

		opacity: .5;
	}

	.funds .slick-list .slick-track .slick-current div .pb-20 .flex {
		margin-left: 50px;
		margin-right: 50px;
		opacity: 1;
	}

}


@media(max-width: 1000px) {
	.moreF {
		left: 50% !important;
		transform: translateX(-50%);
		top: 150px !important;
	}

	.special .slick-list .slick-track .slick-slide div {
		border-bottom: none !important;
	}

	.moreTr {
		top: 200px !important;
		left: 42% !important;
	}

	.moreT {
		left: 53% !important;
		top: 200px !important;
	}
}



@media(max-width: 1200px) {

	.container__special .slick-slider .slick-dots {
		width: 15% !important;

	}
}

@media(max-width: 950px) {
	.container__special .slick-slider .slick-dots {
		width: 20% !important;

	}

	.promo {
		background-image: url('../images/templates/bgL.jpg');
	}

	.cat {
		transform: translateY(16px);
	}
}

@media(max-width: 900px) {
	.container__special .slick-slider .slick-dots {
		width: 25% !important;
	}

	.slick-dots {
		width: 12% !important;
	}

	.prev {
		left: 43% !important;
	}

	.next {
		right: 42.7% !important;
	}
}

@media(max-width: 850px) {
	.logo {
		left: 40% !important;
	}
}

@media(max-width: 750px) {
	.container__special .slick-slider .slick-dots {
		width: 30% !important;
	}

	.slick-dots {
		width: 14% !important;
	}

	.prev {
		left: 41.5% !important;
	}

	.next {
		right: 41.7% !important;
	}
}

@media(max-width: 750px) {
	.container__special .slick-slider .slick-dots {
		width: 40% !important;
	}

	.slick-dots {
		width: 20% !important;
	}

	.prev {
		left: 39.5% !important;
	}

	.next {
		right: 38.7% !important;
	}
}

@media(max-width: 450px) {
	.container__special .slick-slider .slick-dots {
		width: 50% !important;
	}
}

@media(max-width: 1000px) {
	.moreF {
		left: 50% !important;
		transform: translateX(-50%);
		top: 130px !important;
	}

	.moreTr {
		top: 200px !important;
		left: 38% !important;
	}

	.moreT {
		left: 56% !important;
		top: 200px !important;
	}
}

@media(max-width: 550px) {
	.slick-dots {
		width: 30% !important;
	}

	.prev {
		left: 36% !important;
	}

	.next {
		right: 35% !important;
	}
}

.actionsfl .slick-list .slick-track .slick-slide div {
	display: flex;
	justify-content: center;
}

.special .slick-list .slick-track .slick-slide div {
	display: flex;
	justify-content: center;
}

@media(max-width: 450px) {
	.moreF {
		left: 50% !important;
		transform: translateX(-50%);
		top: 70px !important;
	}

	.moreTr {
		top: 140px !important;
		left: 35% !important;
	}

	.moreT {
		left: 56% !important;
		top: 140px !important;
	}
}

@media(max-width: 400px) {
	.logo {
		left: 30% !important;
	}
}

@media(max-width: 320px) {
	.logo {
		left: 35% !important;
	}

	.seesh {
		transform: translateX(-50%);
	}

	.slick-dots {
		width: 40% !important;
	}

	.prev {
		left: 30% !important;
	}

	.next {
		right: 29% !important;
	}

	.container__special .special .slick-dots {
		width: 60% !important;
		bottom: 10px !important;
	}

	.funds {
		padding-bottom: 50px;
	}

	.buttons {
		top: 110px !important;
	}

	.text {
		transform: translateY(-3px);
	}

	.catal {
		height: 55px !important;
		transform: translate(-2px, 15px);
		width: 144px !important;
	}

	.catal:hover {
		scale: 1 !important;
	}

	.snap {
		height: 55px !important;
		width: 144px !important;

	}



}

@media(max-width: 800px) {
	.seemore {
		width: 340px !important;
	}
}

.sunl {
	width: 607px;
}